absl-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
brotlicffi
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
debugpy
decorator
defusedxml
distlib
exceptiongroup
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
fsspec
ftfy
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
grpcio
h11
h5py
httpx
huggingface-hub
idna
ipykernel
ipython
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
keras
kiwisolver
lightgbm
Markdown
matplotlib
mdurl
mistune
ml_dtypes
nbclient
nbconvert
nbformat
networkx
notebook
numpy
pandas
Pillow
prometheus_client
prompt-toolkit
protobuf
psutil
pyarrow
pycparser
pydantic
pydeck
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rich
scikit-learn
scipy
seaborn
sentence-transformers
six
smmap
sniffio
sortedcontainers
soupsieve
stack_data
streamlit
sympy
tenacity
tensorboard
tensorflow
tf_keras
threadpoolctl
timm
tokenizers
toml
torch
torchaudio
torchvision
tqdm
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
xgboost
